
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{%extends 'rindex.html'%}
<body>
  {%block main%}
<!--Main layout-->
<main style="margin-top: 58px;">
    <button type="button" class="btn bg-green" style="float:right ;background-color:lightgreen
    "
        data-toggle="modal" data-target="#exampleModal">
       
    
        <span class="bi-plus" style="font-size:30px ;">new lecturer</span>
      </button>
    
  <table border="1" class="table table-hover shadow" style="margin-right: 20px;">
    <tr>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>student id</th>
        <th>email</th>
        <th>delete</th>
        <th>update</th>
        

    </tr>
    {% for x in student %}
    <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.username }}</td>
    <td>{{ x.email }}</td>
    <td>{{ x.salary }}</td>
    <td>{{ x.exp }}</td>
    <td><a href="delete/{{ x.id }}">delete</a></td>
    <td><a href="update/{{ x.id }}">update</a></td>
    <td><a href="complent/{{ x.id }}">complent</a></td>
    </tr>
    {% endfor %}
    </table>
       
    </table>

</main>
<div class="container mt-3" style="width: 700px;">
   
    
   
    <!-- Modal -->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>add new departiment</h5>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <a href="#" data-toggle="tooltip"
                        title="" data-placement="right">
                        <form action="" method="post">
                            {%csrf_token%}
                            <label class="form-label">username</label>
                            <input type="text" class="form-control" name="uname">
                            <label class="form-label">email</label>
                            <input type="email" class="form-control" name="email">
                            <label class="form-label">departiment</label>
                            <input type="text" class="form-control" name="depa">
                            <label class="form-label">phone</label>
                            <input type="tel" class="form-control" name="phone">
                            <label class="form-label">fields/course</label>
                            <input type="text" class="form-control" name="fild">
                            <label class="form-label">expiriance</label>
                            <input type="exp" class="form-control" name="exp">
                            <label class="form-label">salary</label>
                            <input type="text" class="form-control" name="salary">
                            <label class="form-label">age</label>
                            <input type="date" class="form-control" name="age">
                            <label class="form-label">gender</label>
                            
                                <select class="form-control" name="gender" >
                                <option value="male">male</option>

                                <option value="female">female</option>
                                <option value="costom">costom</option>
                            </select>
                            <label class="form-label">password</label>
                            <input type="password" class="form-control" name="password">

                            <button type="submit" class="btn btn-success">save</button>
                        </form>
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block sidebar%}
{%endblock%}


</body>
</html>