<!DOCTYPE html>
<html lang="en">
<head>
  {%extends 'index.html'%}
  {% load crispy_forms_tags%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {%block title%} <title>Document</title>{%endblock%}
   {%load static%}
   <link rel="stylesheet" href="{%static 'main/css/bootstrap.css'%}">
</head>


{%block main%}
<!--Main layout-->
<main style="margin-top: 58px;">
    
    {%for student in user%}
    <table class="tabele table-hover shadow " border="1">
     
      <th>id</th>
      <th>sid</th>
      <th>username</th>
      <th>email</th>
      
        <tbody>
          <td>{{n}}</td>
            <td>{{student.sid}}</td>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
           
        </tbody>
    </table>
{%endfor%}

</main>{%endblock%}
<!--Main layout-->

</body>
</html>