<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends 'index.html'%}
{% load crispy_forms_tags%}

<body>
   {%block main%}
    <form method="POST" action="uprofile/" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="hidden" value="zak" name="user">
         Name:<br>
        <input name="first">
        <br><br>
       image:<br>
        <input type="file" name="last">
        <br><br>
        <button type="submit">upload</button>
    </form>{%endblock%}
</body>
</html>